@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
     /* Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

     /* Neutral */
     --Off-white: hsl(36, 100%, 99%);
     --Grayish-blue: hsl(233, 8%, 79%);
     --Dark-grayish-blue: hsl(236, 13%, 42%);
     --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 12px 20px;
    background-color: var(--Off-white);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.holder {
    max-width: 1000px;
    margin: auto;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 8px;
}

header nav ul li a {
    color: var(--Dark-grayish-blue);
    text-decoration: none;
    transition: all 200ms linear;
}

header nav ul li a:hover {
    color: var(--Soft-red);
}

/* Header Finished */

div.container {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    padding: 0px 20px;
}

@media (min-width: 920px) {
    div.container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    div.container div.future {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.container div.future div.image {
        grid-column: span 2;
    }
}

div.container div.future div.image {
    margin-bottom: 20px;
}

div.container div.future div.image img {
    width: 100%;
}

/* Bright Future Content */

div.container div.future h1 {
    color: var(--Very-dark-blue);
    font-size: 50px;
    line-height: 1.0;
    font-weight: 800;
}

div.container div.future div.info p {
    color: var(--Dark-grayish-blue);
    font-size: 15px;
    margin-bottom: 40px;
}

div.container div.future div.info a {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 12px 32px;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 200ms linear;
}

div.container div.future div.info a:hover {
    background-color: var(--Very-dark-blue);
}

/* Table Of Content */

div.container div.table-of-content {
    background-color: var(--Very-dark-blue);
    padding: 30px 20px;
}

div.container div.table-of-content h2 {
    font-size: 30px;
    color: var(--Soft-orange);
}

div.container div.table-of-content div.cont {
    padding: 20px 0px;
}

div.container div.table-of-content div.cont:not(:last-child){
    border-bottom: 1px solid var(--Dark-grayish-blue);
}

div.container div.table-of-content div.cont a{
    text-decoration: none;
    color: var(--Off-white);
    margin-bottom: 10px;
    font-weight: 700;
    transition: all 200ms linear;
}

div.container div.table-of-content div.cont a:hover {
    color: var(--Soft-orange);
}

div.container div.table-of-content div.cont p{
    color: var(--Grayish-blue);
    font-size: 13px;
    line-height: 1.6;
}

/* Posts Contents */

div.container div.post-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 40px;
}

div.container div.post-container div.post{
    display: flex;
    gap: 15px;
}

div.container div.post-container span {
    display: block;
    width: 100px;
    height: 140px;
    flex-shrink: 0;
    flex-grow: 0;
}

div.container div.post-container span img {
    width: 100%;
}

div.container div.post-container div.post div.post-info{
    line-height: 1.6;
}

div.container div.post-container div.post div.post-info {
    color: var(--Dark-grayish-blue);
}

div.container div.post-container div.post div.post-info p.counter {
    color: var(--Grayish-blue);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

div.container div.post-container div.post div.post-info a {
    color: var(--Very-dark-blue);
    font-size: 22px;
    text-decoration: none;
    transition: all 200ms linear;
}

div.container div.post-container div.post div.post-info a:hover {
    color: var(--Soft-red);
}

@media (min-width: 920px) {
    div.container div.post-container {
        grid-column: span 3;
        flex-wrap: nowrap;
    }

    div.container div.post-container span {
        width: 80px;
        height: 100px;
    }

    div.container div.post-container div.post div.post-info{
        line-height: 1.4;
    }
    
    div.container div.post-container div.post div.post-info a {
        font-size: 16px;
    }

    div.container div.post-container div.post div.post-info p {
        font-size: 14px;
        list-style: 1.0;
    }

}